body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #f8faf6;
}

.Our-Mission {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}

.mission-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content {
  flex: 1;
  max-width: 600px;
  margin-right: 40px;
}

.Our-Mission h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

.subheading {
  color: #555;
  font-size: 16px;
  margin-bottom: 12px;
  text-align: left;
}

.image-container {
  flex: 1;
  max-width: 500px;
  text-align: right;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
